<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="side-nav navbar-dark">
            <h2 class="m-4">
                DBots <i class="fas fa-book-open" aria-hidden="true"></i>
                <span (click)="toggle()"
                    class="float-right d-sm-none d-block close">&times;</span>
                </h2>
            <hr>
            <div class="navbar-nav mt-5">
                <p class="category">General <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/api" routerLinkActive="active">API</a>
                <a class="nav-link" 
                    routerLink="/docs/get-started" routerLinkActive="active">Get Started</a>

                <hr>
                
                <p class="category">Bots <i class="fas fa-robot"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/bot-badges" routerLinkActive="active">Badges</a>
                <a class="nav-link" 
                    routerLink="/docs/bot-guidelines" routerLinkActive="active">Guidelines</a>
                <a class="nav-link" 
                    routerLink="/docs/how-it-works" routerLinkActive="active">How It Works</a>
                <a class="nav-link" 
                    routerLink="/docs/post-stats" routerLinkActive="active">Post Stats</a>
                <a class="nav-link" 
                    routerLink="/docs/widget" routerLinkActive="active">Widget</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle()">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>