<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="side-nav navbar-dark">
            <h2 class="m-4">
                DBots <i class="fas fa-book-open" aria-hidden="true"></i>
                <span (click)="toggle()"
                    class="float-right d-sm-none d-block close">&times;</span>
                </h2>
            <hr>

            <!-- <div class="d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label for="search">Search</mat-label>
                    <input #searchInput
                        (keyup.enter)="emitSearch(searchInput.value)"               
                        id="search" type="search" placeholder="get bot stats" matInput>
                </mat-form-field>
                <button id="searchButton"
                    (click)="emitSearch(searchInput.value)" 
                    mat-button><i class="fas fa-search"></i></button>
            </div> -->

            <div class="navbar-nav">
                <p class="category">General <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/api" routerLinkActive="active">API</a>
                <a class="nav-link" 
                    routerLink="/docs/get-started" routerLinkActive="active">Get Started</a>

                <hr>
                
                <p class="category">Bots <i class="fas fa-robot"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/bot-badges" routerLinkActive="active">Badges</a>
                <a class="nav-link" 
                    routerLink="/docs/get-featured" routerLinkActive="active">Get Featured</a>
                <a class="nav-link" 
                    routerLink="/docs/bot-guidelines" routerLinkActive="active">Guidelines</a>
                <a class="nav-link" 
                    routerLink="/docs/how-it-works" routerLinkActive="active">How It Works</a>
                <a class="nav-link" 
                    routerLink="/docs/post-stats" routerLinkActive="active">Post Stats</a>
                <a class="nav-link" 
                    routerLink="/docs/widget" routerLinkActive="active">Widget</a>

                <p class="category">Other <i class="fas fa-info-circle"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/changelog" routerLinkActive="active">Changelog</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle()">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>