<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="side-nav navbar-dark">
            <h2 class="m-4">DBots <i class="fas fa-book-open" aria-hidden="true"></i></h2>
            <hr>
            <div class="navbar-nav mt-5">
                <p class="category">Bot List <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                <a class="nav-link" 
                    routerLink="/docs/get-started" routerLinkActive="active">Get Started</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle($event.target)">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>