mat-sidenav {
    background-color: var(--background-secondary) !important;
}

[opened] {
    width: 300px;
}

img {
    padding: 0;
}

i {
    padding-right: 5px;
}

.category {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0 0 15px;

    color: var(--secondary);
}

.toggle {
    visibility: visible;

    margin: 50px 0 0 15px;
}

.close {
    cursor: pointer;
    font-size: 42px;
    color: white;
}

#searchButton {
    margin-left: 5px;
    height: 64px;
}