<dashboard-sidebar>
    <div class="container">
        <h1 class="display-4 p-3">Hey, {{ userService.user.username }}</h1>
        <hr>
        <h2>Welcome to the DBots dashboard!</h2>
        <p class="text-muted">Here you can manage bot listings, view bot logs, and more.</p>

        <div *ngIf="userService.savedUser.role === 'admin'
            || userService.savedUser.role === 'reviewer'">
            <h2>Unreviewed Bots</h2>
            <p *ngIf="unreviewedSavedBots.length <= 0">Wow! All bots are reviewed. 👍</p>
            <ul>
                <li *ngFor="let savedBot of unreviewedSavedBots">
                    <a *ngIf="!botService.getBot(savedBot._id)"
                        [href]="'https://discord.com/oauth2/authorize?client_id=' + savedBot._id + '&guild_id=236608364333891585&scope=bot'"
                        class="text-warning">Invite {{ savedBot._id }}</a>
                    <a *ngIf="botService.getBot(savedBot._id)"
                        [routerLink]="['/bots/' + savedBot._id]">View {{ savedBot._id }}</a>
                </li>
            </ul>
            <span><strong>Colours</strong>:</span><br>
            <span class="text-warning">Needs to be added to the DBots Guild.</span><br>
            <a href="#">Needs to be reviewed.</a>
        </div>
    </div>
</dashboard-sidebar>
