<dashboard-sidebar>
    <div class="container">
        <div class="mt-5">
            <h1 class="display-4">Hey, {{ userService.user.username }}</h1>
            <h2 class="lead">Welcome to the DBots dashboard!</h2>
            <p class="text-muted">Here you can manage bot listings, view bot logs, and more.</p>
        </div>
        <hr>

        <div *ngIf="feedback"
            id="feedback">
            <h2>Recent Feedback</h2>
            <div *ngIf="feedback.length > 0">
                <div *ngFor="let msg of feedback"
                    class="media mb-2 p-2 rounded"
                    [class]="msg.feedback.approved ? 'bg-success' : 'bg-danger'">
                    <div *ngIf="msg.bot">
                        <img
                            class="mr-3 round"
                            [src]="msg.bot.displayAvatarURL"
                            [alt]="msg.bot.tag">
                        <div class="media-body">
                            <h5 class="mt-0">Bot {{ msg.feedback.approved ? 'Approved' : 'Not Approved' }}</h5>
                            {{ msg.feedback.message }}
                            <div class="d-flex justify-content-between">
                                <span class="text-light">{{ msg.bot.username }}</span>
                                <span class="float-right">
                                    <member-username class="float-right" [user]="msg.reviewer | async"></member-username>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="feedback.length <= 0">
                <p>No feedback received.</p>
            </div>
        </div>
    </div>
</dashboard-sidebar>
