<navbar></navbar>

<div *ngIf="user">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/users/', user.id]">{{ user.id }}</a></li>
    </ol>
  </nav>
  <header class="jumbotron mb-0">
  <div class="container">
      <img [src]="user.displayAvatarURL">
      <h1>{{ user.username }}<span class="text-muted">#{{ user.discriminator }}</span></h1>
      <p class="lead">{{ user.presence.activities[0]?.state }}</p>
  </div>
  </header>
  <waves [inverted]="true"></waves>

  <div id="bots" class="container">
    <bots [ownerUser]="user"></bots>
    <packs [ownerUser]="user"></packs>
  </div>
</div>

<div *ngIf="!user"
  class="container">
  <spinner></spinner>
</div>

<home-footer></home-footer>