<sidebar *ngIf="user">
    <div class="side-nav navbar-dark">
        <div class="header">
            <img *ngIf="user.displayAvatarURL"
                [src]="user.displayAvatarURL" [alt]="user.username">
            <h4 [routerLink]="['/dashboard/bots/' + user.id]">{{ user.username }}</h4>
        </div>
        <div class="category">General</div>
        <div *ngIf="user.id"
            class="navbar-nav">
            <a [routerLink]="['/bots/' + user.id]" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-eye"></i> View Listing</a>
            <a [routerLink]="'/dashboard/bots/' + user.id + '/edit'" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-pencil-alt"></i> Edit</a>
            <a [routerLink]="'/dashboard/bots/' + user.id + '/log'" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-file-alt"></i> Log</a>
            
        <div class="category">Stats</div>
            <a [routerLink]="'/dashboard/bots/' + user.id + '/api'" routerLinkActive="active"
                class="nav-item nav-link">
            <i class="fas fa-server"></i> API</a>
        <a [routerLink]="'/dashboard/bots/' + user.id + '/analytics'" routerLinkActive="active"
            class="nav-item nav-link">
        <i class="fas fa-chart-area"></i> Analytics</a>
            <a [routerLink]="'/dashboard/bots/' + user.id + '/widget'" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-star"></i> Widget</a>
        </div>
        <div *ngIf="!user.id" class="navbar-nav">
            <a [routerLink]="['/docs/guidelines']" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-book"></i> Guidelines</a>
            <a [routerLink]="['/docs/get-featured']" routerLinkActive="active"
                class="nav-item nav-link">
                <i class="fas fa-star"></i> Get Featured</a>
        </div>
    </div>
    <div id="content">
        <div *ngIf="loaded">
            <ng-content></ng-content>
            <div class="mt-5 pt-2"></div>
        </div>
        <div *ngIf="!loaded">
            <spinner></spinner>
        </div>
    </div>
</sidebar>
