<bot-sidebar
  [bot]="bot"
  [loaded]="stats && bot && user && log"
  [user]="user"
  #sidebar>
  <div
    *ngIf="sidebar.loaded"
    class="container">
    <header class="text-center">
      <h1 class="display-4">{{ user.username }} Analytics</h1>
      <p class="lead">View real time analytics for your bot.</p>
      <hr class="my-2">
    </header>

    <section id="summary" class="mb-3">
      <div class="pb-3">
        <div class="float-right">
          <mat-form-field appearance="outline">
            <mat-select [(value)]="days" #daySelect>
              <mat-option [value]="7">7 Days</mat-option>
              <mat-option [value]="30">1 Month</mat-option>
              <mat-option [value]="120">4 Months</mat-option>
            </mat-select>
          </mat-form-field>
        </div>        

        <h2>Today's Summary</h2>
        <p>Last updated at <strong>{{ log.analytics.lastUpdatedAt | cleanDateTime }}</strong></p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="stat bg-gradient">
            <h3>Impressions</h3>
            <p>How many times your bot card has been seen.</p>
            <span>{{ last(log.analytics.impressions) || 'N/A' }} Impressions</span>
          </div>          
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="stat bg-gradient">
            <h3>Views</h3>
            <p>How many times your bot page has been seen.</p>
            <span>{{ last(log.analytics.views) || 'N/A' }} Views</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="stat bg-gradient">
            <h3>CTR</h3>
            <p>% of those who saw your bot card, that clicked it.</p>
            <span>{{ last(log.analytics.ctr) || 'N/A' }}%</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="stat bg-gradient">
            <h3>Invites</h3>
            <p>Number of invite link clicks.</p>
            <span>{{ last(log.analytics.invites) || 'N/A' }} Invites</span>
          </div>
        </div>
      </div>
    </section>

    <section
      *ngIf="log"
      id="graphs">
      <div [ngSwitch]="days">
        <h2 *ngSwitchCase="120">4 Months</h2>
        <h2 *ngSwitchCase="30">1 Months</h2>
        <h2 *ngSwitchDefault>{{ days }} Days</h2>
      </div>
      <p>Data from last {{ days }} days.</p>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="row stats">
            <div class="col-md-3">
              <h5>Impressions</h5>
            </div>
            <div class="col-md-9">
              <app-graph
                [graphData]="log.analytics.impressions"
                [days]="days"
                #chart1></app-graph>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">      
          <div class="row stats">
            <div class="col-md-3">
              <h5>Views</h5>
            </div>
            <div class="col-md-9">
              <app-graph
                [graphData]="log.analytics.views"
                [days]="days"
                #chart2></app-graph>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
          <div class="row stats">
            <div class="col-md-3">
              <h5>CTR</h5>
            </div>
            <div class="col-md-9">
              <app-graph
                [graphData]="log.analytics.ctr"
                [days]="days"
                #chart3></app-graph>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-md-12">
          <div class="row stats">
            <div class="col-md-3">
              <h5>Invites</h5>
            </div>
            <div class="col-md-9">
              <app-graph
                [graphData]="log.analytics.invites"
                [days]="days"
                #chart4></app-graph>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</bot-sidebar>