#summary .stat {
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}

#summary .stat span {
  color: var(--heading);
}

.stats {
  color: var(--heading);
  background-color: var(--tertiary);
  border-radius: 3px;
  margin: 5px;
  padding: 25px;

  text-transform: uppercase;
  background-color: var(--background-tertiary);
}