<div
  *ngIf="bot && user"
  class="fade-in text-center rounded-lg card shadow text-white">
  <div class="cursor-pointer d-flex justify-content-center">
    <img
      class="shadow rounded-lg card-img-top"
      [routerLink]="['/bots/' + user.id]"
      [src]="user.displayAvatarURL"
      [alt]="user.username + ' | ' + cleanTags">
    <div class="rounded-lg status"
      [ngClass]="{
        'status-online': user.presence?.status === 'online',
        'status-dnd': user.presence?.status === 'dnd',
        'status-idle': user.presence?.status === 'idle'
      }"
      [matTooltip]="user.presence?.status"></div>
  </div>
  <div class="card-body">
    <p class="stats d-flex justify-content-center">
      <span *ngIf="bot.stats?.guildCount" class="badge badge-secondary cursor-pointer mr-1" matTooltip="Servers">
        <i class="fas fa-server"></i> {{ bot.stats.guildCount | number }}
      </span>
      <span class="badge badge-secondary cursor-pointer ml-1" matTooltip="Votes">
        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i> {{ bot.votes.length | number }}
      </span>
    </p>
    <div class="card-text d-flex flex-column justify-content-center">
      <h4 [routerLink]="['/bots/', user.id]"
        class="cursor-pointer card-title mb-1 mt-2">{{ user.username }}</h4>
        <p class="color-muted mb-1">{{ bot.listing.overview }}</p>
        <p class="color-secondary">{{ cleanTags }}</p>
    </div>
    <div class="d-flex justify-content-around">
      <button
        [routerLink]="['/bots/' + user.id]"
        class="rounded-lg" mat-button>VIEW</button>
      <a
        [href]="bot.listing.invite"
        target="_blank">
        <button class="rounded-lg" mat-button>ADD</button>
      </a>
    </div>
  </div>
</div>