img {
    margin-top: -15px;

    width: 172px;
}

.status {
    position: absolute;
    right: 30px;
    top: 40%;

    border-radius: 50%;
    width: 42px;
    height: 42px;

    background-color: rgb(47, 46, 46);
}

.status-online {
    background-color: green;
}
.status-dnd {
    background-color: red;
}