img {
    margin-top: -15px;

    width: 172px;
}

p {
    font-size: 16px;
    margin: 0;
}
.card-text {
    margin-bottom: 15px;
    height: 200px;
}

.status {
    position: absolute;

    top: 128px;
    right: 12.5%;

    width: 42px;
    height: 42px;

    background-color: rgb(47, 46, 46);
    border: 5px solid #36393F;
}

.status-online {
    background-color: #43b581;
}
.status-dnd {
    background-color: #ff0000;
}
.status-idle {
    background-color: #faa61a;
}

.stats {
    margin: 0;
    margin-bottom: 5px;
}
.card-body {
    padding-top: 10px;
}

.card {
    width: 256px;
}

/* animations */
.fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}