img {
    margin-top: -15px;

    width: 172px;
}

.status {
    position: absolute;

    top: 37.5%;
    right: 12.5%;

    width: 42px;
    height: 42px;

    background-color: rgb(47, 46, 46);
    border: 5px solid #36393F;
}

.status-online {
    background-color: #43b581;
}
.status-dnd {
    background-color: #ff0000(240, 71, 71);
}
.status-idle {
    background-color: #faa61a;
}

.stats {
    margin: 0;
    margin-bottom: 5px;
}
.card-body {
    padding-top: 10px;
}

.card {
    width: 256px;
}