img {
    margin-top: -15px;

    width: 172px;
}

.status {
    position: absolute;

    top: 35%;
    right: 10%;

    width: 42px;
    height: 42px;

    background-color: rgb(47, 46, 46);
}

.status-online {
    background-color: green;
}
.status-dnd {
    background-color: red;
}

.stats {
    margin: 0;
    margin-bottom: 5px;
}
.card-body {
    padding-top: 10px;
}

.card {
    width: 256px;
}