<bot-sidebar
  [bot]="bot"
  [loaded]="bot && user"
  [user]="user"
  #sidebar>
  <div class="container">
    <header
      *ngIf="sidebar.loaded"
      class="text-center">
      <h1 class="display-4">{{ user?.username }} Widget</h1>
      <hr class="my-2">
    </header>
    <div class="d-flex justify-content-center">
      <div>
        <a [href]="'/bots/' + id">
          <img [src]="widgetURL" [alt]="user?.username">
        </a>
        <form
          #f="ngForm"
          [formGroup]="form">
          <mat-form-field class="ml-5 mt-2" appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select formControlName="size">
              <mat-option value="small">Small</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="large" selected>Large</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <pre class="text-light rounded p-2"><code>&lt;a href="https://dbots.co/bots/{{ user.id }}"&gt;
  &lt;img src="{{ widgetURL }}" alt="View on DBots"&gt;
&lt;/a&gt;</code></pre>
  </div>
</bot-sidebar>