<nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/img/logo.png" alt="DBots Logo">
    </a>
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/docs" routerLinkActive="active"
            matTooltip="Docs">
            <i class="fa fa-book text-muted mr-1" aria-hidden="true"></i> Docs
        </a>
        <a class="nav-item nav-link" [href]="discordInvite" routerLinkActive="active"
            matTooltip="Join Server">
            <i class="fab fa-discord text-muted mr-1"></i> Server
        </a>
        <a class="nav-item nav-link" [href]="githubURL" routerLinkActive="active"
            matTooltip="Source Code">
            <i class="fab fa-github text-muted mr-1"></i> GitHub
        </a>
    </div>
    
    <div class="nav navbar-nav ml-auto">
        <div *ngIf="!user">
            <a class="nav-item nav-link" routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
        </div>
        <div *ngIf="user">
            <div class="dropdown">
                <a class="nav-item nav-link dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="user.displayAvatarURL"> {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
                    <hr class="m-1">
                    <a class="dropdown-item" routerLink="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
