:root {
    --navbar-background: transparent;
}

nav.navbar {
    background-color: var(--navbar-background) !important;
}

img {
    max-width: 96px;   
}
.dropdown img {
    max-width: 32px;
    border-radius: 50%;
}

.dropdown-menu {
    background: var(--background-secondary);
}

.dropdown-menu a {    
    color: white;
}

.dropdown-menu a:hover {
    background-color: var(--background-primary);
}

a {
    cursor: pointer;
}