<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/img/logo.png" alt="DBots Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" routerLink="/bots" routerLinkActive="active">
                <i class="fas fa-robot text-muted mr-1" aria-hidden="true"></i> Bots
            </a>
            <a class="nav-item nav-link"
                (click)="randomBot()"
                routerLinkActive="active">
                <i class="fas fa-dice text-muted mr-1" aria-hidden="true"></i> Random Bot
            </a>
            <a class="nav-item nav-link" href="https://dlist.xyz" routerLinkActive="active">
                <i class="fas fa-server" aria-hidden="true"></i> Servers
            </a>
        </div>
    
        <div class="nav navbar-nav ml-auto">
            <div *ngIf="!user">
                <a class="nav-item nav-link" routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </div>
            <div *ngIf="user">
                <div class="dropdown">
                    <a class="nav-item nav-link dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="user.displayAvatarURL"> {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
                        <hr class="m-1">
                        <a class="dropdown-item" routerLink="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
