header {
  background-color: var(--background-secondary);

  margin-top: -65px;
  padding-top: 125px;
}

img {
  float: left;

  margin-right: 15px;
  border-radius: 10px;
  width: 128px;
}

#markdown {
  word-wrap: break-word;
  padding: 25px;
}
