<header
    *ngIf="bot?.listing"
    class="jumbotron mb-0">
    <div class="container">
        <img [src]="user.displayAvatarURL">
        <h1>{{ user.username }}<span class="text-muted">#{{ user.discriminator }}</span></h1>
        
        <mat-form-field
            *ngIf="userService.user && bot.approvedAt"
            appearance="outline"
            class="float-right ml-3">
            <mat-label>Add to Pack</mat-label>
            <mat-select>
                <mat-option
                    *ngFor="let pack of packs.getUserPacks(userService.user.id)"
                    value="pack._id"
                    [selected]="inPack(pack)">
                    <mat-checkbox
                        (click)="(inList.checked ? removeFromList(pack._id) : addToList(pack._id)) && $event.stopPropagation()"
                        [checked]="inPack(pack)"
                        #inList></mat-checkbox>
                    {{ pack.name }}
                </mat-option>
                <mat-option>
                    <button
                        (click)="createPack(nameInput.value)"
                        class="float-right mt-1"
                        color="success" mat-button>+</button>
                    <input
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()"
                        type="text"
                        matInput
                        #nameInput>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <span
                *ngIf="bot.stats?.guildCount"><i class="fas fa-server" matTooltip="Servers"></i> {{ bot.stats?.guildCount | number }}</span>
            <span class="pl-3"><i class="fas fa-chevron-circle-up" matTooltip="Votes"></i> {{ bot.votes.length | number }}</span>
            <span class="border border-dark py-1 mx-4"></span>
            <span>
                <span *ngIf="bot.approvedAt"
                    matTooltip="Reviewed and approved."
                    class="cursor-pointer">
                    <i class="text-success fas fa-check-circle"></i>
                </span>
                <span *ngIf="bot.badges?.includes('FEATURED')"
                    matTooltip="Featured."
                    class="ml-2 cursor-pointer">
                    <i class="color-gold fas fa-star"></i>
                </span>
            </span>
        </div>
        <div>
            <span class="text-muted" role="doc-subtitle">{{ bot.listing.overview }}</span>
        </div>
    </div>
</header>
<waves [inverted]="true"></waves>

<div class="container mt-3 py-1">
    <span class="links">
        <span class="mx-2 prefix">
            <strong>Prefix</strong>: <code>{{ bot.listing.prefix }}</code>
        </span>
        <span *ngIf="bot.listing.websiteURL"
            class="mx-2">
            <a [href]="bot.listing.websiteURL"
                rel="nofollow" target="_blank" mat-button><i class="fas fa-globe"></i> Website</a>
        </span>
        <span *ngIf="bot.listing.githubURL"
            class="mx-2">
            <a [href]="bot.listing.githubURL"
                rel="nofollow" target="_blank" mat-button><i class="fab fa-github"></i> GitHub</a>
        </span>
    </span>
    <span id="buttons" *ngIf="!preview"
        class="float-right my-sm-0 my-3">
        <button *ngIf="canManage || userService.isAdmin"
            (click)="delete()"
            id="delete" class="mr-2" color="danger" mat-button><i class="fas fa-trash"></i> Delete</button>
        <button *ngIf="canManage"
            [routerLink]="['/dashboard/bots/' + user.id +'/edit']"
            class="bg-warning mr-4" color="warning" mat-button><i class="fas fa-pencil-alt"></i> Edit</button>
        <a (click)="analytics.botInvite({ botId: user.id })"
            [href]="bot.listing.invite"
            rel="nofollow"
            class="rounded-lg bg-primary mr-2" mat-button><i class="fas fa-plus-circle"></i> Add</a>
        <button [routerLink]="['/bots/' + user.id +'/vote']"
            class="bg-secondary" mat-button><i class="fas fa-chevron-circle-up"></i> Vote</button>
    </span>
</div>

<div class="container my-5 py-2">
    <mat-chip-list class="float-left">
        <mat-chip *ngFor="let tagName of bot.listing.tags"
            class="cursor-pointer"
            [routerLink]="['/tags/', tagName]">{{ tagName | kebabToTitleCase }}
            <i [class]="tagService.getTag(tagName)?.icon" class="ml-1" aria-hidden="true"></i>
        </mat-chip>
    </mat-chip-list>
    <div class="float-right">
        <span class="text-muted">Created By</span>
        <a [routerLink]="'/users/' + ownerUser?.id" class="cursor-pointer">
            <member-username [user]="ownerUser"></member-username>
        </a>
    </div>
</div>


<div id="markdown" class="container rounded" [innerHTML]="markdown"></div>