<div *ngIf="initialized">
    <h2 class="pt-5"><i [class]="icon"></i> {{ title }}</h2>
    <p class="color-secondary pb-4">{{ description }}</p>
    <div class="row">
        <div *ngFor="let savedBot of paginate(savedBots)"
            class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center">
            <bot-card
                [bot]="savedBot"
                [user]="service.getBot(savedBot._id)"
                class="m-3"></bot-card>
        </div>
        <div class="paginator col-12">
            <div class="p-3 float-right">
                <span (click)="previousPage()"
                    [hidden]="page <= 1"
                    class="cursor-pointer ml-1">
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                </span>
                <span class="mx-3">{{ page }}</span>
                <span (click)="nextPage()"
                    [hidden]="page >= lastPage"
                    class="cursor-pointer m-1">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!initialized">
    <spinner></spinner>
</div>