.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* border radius */
.rounded {
    border-radius: 5px !important;
}

.rounded-lg {
    border-radius: 25px !important;
}

.round {
    border-radius: 50% !important;
}

/* shadow */
.shadow	{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.cursor-pointer {
    cursor: pointer;
}

/* buttons */
.btn-gradient {
    background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 51%, var(--tertiary) 100%);
}
.btn-gradient:hover {
    background-position: right center;
}