<guild-sidebar>
    <div class="container">
            <div class="d-flex justify-content-between">
                <h1 class="display-3">Add Bot</h1>
            </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form #f="ngForm" [formGroup]="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Bot ID</mat-label>
                        <input formControlName="botId" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Client ID</mat-label>
                        <input formControlName="clientId" type="text" matInput>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Overview</mat-label>
                        <textarea formControlName="overview" type="text" matInput></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Prefix</mat-label>
                        <input formControlName="prefix" type="text" matInput>
                    </mat-form-field>

                    <div class="editor-container">
                        <label for="editor">Body</label>
                        <textarea id="editor" formControlName="body" placeholder="300 characters minimum (markdown allowed)" hidden></textarea>
                    </div>

                    <hr>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-select multiple
                            formControlName="tags">
                            <mat-option *ngFor="let tag of tags" 
                                [value]="tag">{{ tag }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-lg-6 border-left">
                <bot-card [bot]="{
                    listing: form.value,
                    guildCount: 100,
                    votes: toIterable(100)
                }"></bot-card>
                <hr>
                <bot-preview class="rounded-lg" [bot]="{
                    listing: form.value,
                    guildCount: 100,
                    votes: toIterable(100)
                }"></bot-preview>
            </div>
        </div>
        <button id="submit" (click)="submit()"
            color="success" mat-button>Add</button>
    </div>
</guild-sidebar>
