<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="items">
            <div class="user">
                <div routerLink="/dashboard" class="icon">
                    <img [src]="userService.user.displayAvatarURL" [alt]="userService.user.username">
                </div>
                <hr>
            </div>
            <div *ngFor="let bot of botService.userBots" [routerLink]="['/dashboard/bots/' + bot.id]"
                class="icon">
                <img *ngIf="bot" [src]="bot.displayAvatarURL" [alt]="bot.username">
            </div>
            <div routerLink="/dashboard/bots/new" 
                class="icon invite"
                matTooltip="Add Bot">
                <span class="add">+</span>
            </div>
        </div>
        <div class="options">
            <ng-content select=".side-nav"></ng-content>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle($event.target)">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>