<mat-sidenav-container fullscreen>
  <mat-sidenav #drawer mode="side" opened>
    <div class="guilds px-2">
      <div class="user">
        <div routerLink="/dashboard" class="guild-icon">
          <img
            [src]="userService.user?.displayAvatarURL"
            [alt]="userService.user?.username">
        </div>
        <hr class="guild-seperator">
      </div>
      <div
        *ngFor="let bot of botService.userBots"
          [routerLink]="['/dashboard/bots/' + bot.id]"
        class="guild-icon">
        <img
          *ngIf="bot"
          [src]="bot.displayAvatarURL"
          [alt]="bot.username">
      </div>
      <div routerLink="/dashboard/bots/new" 
        class="guild-icon invite bg-transparent"
        matTooltip="Add a Bot">
        <span class="add-guild pt-1 d-flex justify-content-center flex-column">+</span>
      </div>
    </div>
    <div class="options">
      <ng-content select=".side-nav"></ng-content>
      <span
        (click)="toggle()"
        class="float-right d-sm-none d-block close">
        <i class="fas fa-times"></i>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <navbar></navbar>
    <button class="toggle d-block d-md-none">
      <div id="nav-icon1" class="open"
        (click)="toggle()">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </button>
    <ng-content select="#content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>