<header [class.focused]="focused">
    <navbar></navbar>
    <div class="container jumbotron mb-0">
        <div class="text-center">
            <h1>Find the Best Discord Bots</h1>
            <p class="lead text-muted">Find bots for your servers quickly and simply.</p>
        </div>
        <div class="d-flex justify-content-center">
            <search
                (blur)="focused = false"
                (focus)="focused = true"
                (search)="search($event)" 
                #searchInput></search>
        </div>
        <div class="d-flex justify-content-center">
            <mat-chip-list>
                <mat-chip>
                    <a href="#top">Top <i class="pl-1 fas fa-trophy"></i></a>
                    </mat-chip>
                <mat-chip>
                    <a href="#packs">Bot Packs <i class="pl-1 fas fa-cube"></i></a>
                </mat-chip>
                <mat-chip>
                    <a href="#trending">Trending <i class="pl-1 fas fa-star"></i></a>
                </mat-chip>
                <mat-chip class="more">
                    <a href="#tags"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
</header>
<waves
    [color]="focused ? 'var(--secondary)' : 'transparent'"
    inverted="true"></waves>

<div id="content" class="container">
    <bots id="top" #bots></bots>

    <div *ngIf="!bots.query && !bots.tag">
        <packs id="packs"></packs>

        <bots id="trending" [tag]="{
            description: 'Trending bots with the most votes.',
            icon: 'fas fa-chevron-up',
            name: 'trending'
        }"></bots>

        <bots [tag]="{
            description: 'Featured bots selected by DBots.',
            icon: 'fas fa-star',
            name: 'featured'
        }"></bots>

        <h2 id="tags" class="pb-2"><i class="fas fa-hashtag"></i> Tags</h2>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of tagService.tags"
                class="tag cursor-pointer"
                [routerLink]="['/tags/', tag.name]">{{ tag.name | kebabToTitleCase }}
                <i [class]="tag.icon" class="ml-1" aria-hidden="true"></i>
            </mat-chip>
        </mat-chip-list>

        <div class="d-flex justify-content-center mt-5 mb-2">
            <div class="rounded-lg btn-gradient">
                <button routerLink="/tags"
                    class="btn-gradient py-2 px-4" mat-button>View More</button>
            </div>
        </div>
    </div>
</div>

<home-footer></home-footer>