<bot-sidebar
    [bot]="bot"
    [loaded]="bot && user"
    [user]="user">
    <div [hidden]="preview" class="container">
        <div class="container">
                <div class="d-flex justify-content-between">
                    <h1 [textContent]="editing ? 'Edit ' + user?.username : 'Add Bot'"
                        class="display-3">Add Bot</h1>
                    <button id="previewButton" (click)="preview = true"
                        class="rounded-lg mt-3" type="button" color="success" mat-button>
                        <i class="fas fa-binoculars"></i> Preview
                    </button>
                </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form #f="ngForm" [formGroup]="form">
                    <mat-form-field *ngIf="!editing"
                        appearance="outline">
                        <mat-label>Bot ID</mat-label>
                        <input formControlName="botId" type="text" matInput required>
                        <mat-error *ngIf="form.get('botId').invalid">Required, and should be a valid
                            <a href="https://discord.com/developers/docs/reference#snowflakes" rel="nofollow" target="_blank">Snowflake ID.</a>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="!editing"
                        appearance="outline">
                        <mat-label>Client ID</mat-label>
                        <input formControlName="clientId" type="text" matInput required>
                        <mat-error *ngIf="form.get('clientId').invalid">Required, and should be a valid
                            <a href="https://discord.com/developers/docs/reference#snowflakes" rel="nofollow" target="_blank">Snowflake ID.</a>
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field *ngIf="editing"
                        appearance="outline">
                        <mat-label>Bot ID</mat-label>
                        <input formControlName="botId" type="text" matInput readonly>
                    </mat-form-field>
                    <mat-form-field *ngIf="editing"
                        appearance="outline">
                        <mat-label>Client ID</mat-label>
                        <input formControlName="clientId" type="text" matInput readonly>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Invite</mat-label>
                        <input formControlName="invite" type="text" matInput required>
                        <mat-error *ngIf="form.get('invite').invalid">Required, and should be a valid discord link.</mat-error>
                    </mat-form-field>

                    <span class="p-3">
                        <a href="https://discordapi.com/permissions.html" target="_blank">Invite Generator</a>
                    </span>

                    <hr>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Overview</mat-label>
                        <textarea formControlName="overview" type="text" matInput required></textarea>
                        <mat-error *ngIf="form.get('overview').invalid">Required, and should be between 64 and 128 characters in length.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Prefix</mat-label>
                        <input formControlName="prefix" type="text" matInput required>
                        <mat-error *ngIf="form.get('prefix').invalid">Required.</mat-error>
                    </mat-form-field>

                    <div class="editor-container mt-3">
                        <label for="editor">Body</label>
                        <textarea id="editor" formControlName="body" placeholder="300 characters minimum (markdown allowed)" hidden></textarea>
                        <mat-error *ngIf="form.get('body').invalid">Required, and should be at least 300 characters in length.</mat-error>
                    </div>

                    <hr>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-select multiple
                            formControlName="tags">
                            <input class="p-3" placeholer="Search" (input)="filterTags($event.target.value)" matInput>
                            <mat-option *ngFor="let tag of filteredTags" 
                                [value]="tag.name">{{ tag.name | kebabToTitleCase }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('tags').invalid">No more than 5 tags.</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Additional Owner IDs</mat-label>
                        <mat-chip-list formControlName="ownerIds"
                            #ownerIds aria-label="Owner ID selection">
                            <mat-chip *ngFor="let id of form.get('ownerIds').value" selectable
                                    removable (removed)="remove(id, form.get('ownerIds').value)">
                                {{ id }}
                                <mat-icon matChipRemove>x</mat-icon>
                            </mat-chip>
                            <input placeholder="Add ID..."
                                    [matChipInputFor]="ownerIds"
                                    matChipInputAddOnBlur
                                    (matChipInputTokenEnd)="add($event, form.get('ownerIds').value)">
                        </mat-chip-list>
                        <mat-error *ngIf="form.get('ownerIds').invalid">Mo more than 3 owner IDs.</mat-error>
                    </mat-form-field>

                    <hr>

                    <mat-form-field appearance="outline">
                        <mat-label>Support Server Invite</mat-label>
                        <span matPrefix>discord.gg/</span>
                        <input class="d-inline" formControlName="supportInvite" type="text" matInput>
                        <mat-error *ngIf="form.get('supportInvite').invalid">Should be a valid, 7 character, Discord invite code.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Github URL</mat-label>
                        <input formControlName="githubURL" type="text" matInput>
                        <mat-error *ngIf="form.get('githubURL').invalid">Should be a valid https://github.com URL.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Website URL</mat-label>
                        <input formControlName="websiteURL" type="text" matInput>
                        <mat-error *ngIf="form.get('websiteURL').invalid">Should be a valid URL.</mat-error>
                    </mat-form-field>

                    <div *ngIf="form.hasError('invalid')"
                        class="alert alert-error border border-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Some form values are invalid.
                    </div>

                    <div class="d-flex justify-content-center">
                        <rocket-button *ngIf="!editing"
                            id="submit"
                            [precondition]="form.valid"
                            (click)="submit()"
                            (animated)="navigateToBotListing()">Add Bot</rocket-button>
                        <rocket-button *ngIf="editing"
                            id="update"
                            [precondition]="form.valid"
                            (click)="update()"
                            (animated)="navigateToBotListing()">Update Bot</rocket-button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 d-none d-sm-block border-left">
                <a [routerLink]="['/docs/bot-guidelines']" routerLinkActive="active"
                    class="nav-item nav-link">
                    <i class="fas fa-book"></i> Guidelines for adding a bot.</a>
                <div class="alert alert-warning border-warning">
                    Make sure you are in the <a class="text-primary" href="/server">DBots Discord server</a>, or your bots will not appear on the list.
                    You may only edit your bot once it has been added by an admin, to the <a class="text-primary" href="/server">DBots Discord server</a>.
                </div>

                <h3>Bot Card</h3>
                <p>This is what your bot card will look like to new users.</p>
                <div class="d-flex justify-content-center mb-5">
                    <bot-card class="mt-5"
                        [user]="user"
                        [bot]="bot"></bot-card>
                </div>

                <hr>

                <h3>Widgets</h3>
                <p>Cool widgets that you can use to show off your bot, and get more votes.</p>
                <a class="text-secondary" routerLink="/docs/widget">
                    <i class="text-info fas fa-code"></i>
                </a>
                <p class="text-center">(Example)</p>
                <div class="d-flex justify-content-center">
                    <dbots-widget bot-id="525935335918665760"></dbots-widget>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!preview">
        <div class="container">
            <button (click)="preview = false"
                class="float-right" color="danger" mat-button>&times;</button>

            <bot-preview *ngIf="bot" [bot]="bot"></bot-preview>
        </div>
    </div>
</bot-sidebar>