<bot-sidebar
    [bot]="bot"
    [loaded]="bot && user"
    [user]="user">
    <div [hidden]="preview" class="container">
        <div class="mb-4">
            <div class="d-flex justify-content-between jumbotron">
                <span></span>
                <h1 [textContent]="editing ? 'Edit ' + user?.username : 'Add Bot'"
                    class="display-4">Add Bot</h1>
                <button id="previewButton" (click)="preview = true"
                    class="rounded-lg mt-3" type="button" color="success" mat-button>
                    <i class="fas fa-binoculars"></i> Preview
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form #f="ngForm" [formGroup]="form">
                    <mat-form-field *ngIf="!editing"
                        appearance="outline">
                        <mat-label>Bot ID</mat-label>
                        <input formControlName="botId" type="text" matInput>
                        <mat-hint>Required</mat-hint>
                        <mat-error *ngIf="form.get('botId').invalid">Required, and should be a valid
                            <a href="https://discord.com/developers/docs/reference#snowflakes" rel="nofollow" target="_blank">Snowflake ID.</a>
                            It also cannot be the ID of a non-bot user.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Bot Invite URL</mat-label>
                        <input formControlName="invite" type="text" matInput required>
                        <mat-hint>Required</mat-hint>
                        <mat-error *ngIf="form.get('invite').invalid">Required, and should be a valid discord link.</mat-error>
                    </mat-form-field>

                    <p class="p-3">
                        <a href="https://discordapi.com/permissions.html" target="_blank">Bot Invite Generator</a>
                    </p>

                    <hr>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Bot Overview</mat-label>
                        <textarea formControlName="overview" type="text" matInput required #overviewInput></textarea>
                        <mat-hint align="end">{{ overviewInput.value.length }}/128</mat-hint>
                        <mat-error *ngIf="form.get('overview').invalid">Required, and should be between 32 and 128 characters in length.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Command Prefix</mat-label>
                        <input formControlName="prefix" type="text" matInput required>
                        <mat-hint>Required</mat-hint>
                        <mat-error *ngIf="form.get('prefix').invalid">Required</mat-error>
                    </mat-form-field>

                    <mat-form-field id="editor" appearance="outline">
                        <mat-label>Body</mat-label>
                        <textarea formControlName="body"
                            placeholder="Markdown and basic HTML are allowed." matInput required #bodyInput></textarea>
                        <mat-hint align="end">{{ bodyInput.value.length }}</mat-hint>
                        <mat-error *ngIf="form.get('body').invalid">
                            Required, and should be at least 300 characters in length.
                            <span class="float-right">{{ bodyInput.value.length }}</span>
                        </mat-error>
                    </mat-form-field>

                    <hr>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-select multiple
                            formControlName="tags">
                            <input class="p-3" placeholer="Search" (input)="filterTags($event.target.value)" matInput>
                            <mat-option *ngFor="let tag of filteredTags" 
                                [value]="tag.name">{{ tag.name | kebabToTitleCase }}</mat-option>
                        </mat-select>
                        <mat-hint>Select up to 8 tags</mat-hint>
                        <mat-error *ngIf="form.get('tags').invalid">No more than 8 tags.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Support Server Invite</mat-label>
                        <span matPrefix>discord.gg/</span>
                        <input class="d-inline" formControlName="supportInvite" type="text" matInput>
                        <mat-error *ngIf="form.get('supportInvite').invalid">Should be a valid Discord invite code.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Github URL</mat-label>
                        <input formControlName="githubURL" type="text" matInput>
                        <mat-error *ngIf="form.get('githubURL').invalid">Should be a valid https://github.com URL.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Website URL</mat-label>
                        <input formControlName="websiteURL" type="text" matInput>
                        <mat-error *ngIf="form.get('websiteURL').invalid">Should be a valid URL.</mat-error>
                    </mat-form-field>

                    <div class="text-center mb-3">
                        <mat-checkbox id="confirm" class="mr-1" #confirmInput></mat-checkbox>
                        <label for="confirm" class="m-0">I have read the
                            <a [routerLink]="['/docs/guidelines']" routerLinkActive="active"
                                class="d-inline"> bot guidelines</a>.
                        </label>
                    </div>

                    <div *ngIf="form.hasError('invalid')"
                        class="alert alert-error border border-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Some form values are invalid.
                    </div>

                    <div *ngIf="apiError"
                        class="alert alert-danger">{{ apiError }}</div>
                    
                    <div class="d-flex justify-content-center">
                        <rocket-button
                            *ngIf="!editing"
                            id="submit"
                            [precondition]="canSubmit"
                            (click)="submit()"
                            (animated)="navigateToBotListing()">Add</rocket-button>
                        <rocket-button
                            *ngIf="editing"
                            id="update"
                            [precondition]="canSubmit"
                            (click)="update()"
                            (animated)="navigateToBotListing()">Update</rocket-button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 d-none d-sm-block border-left">
                <div *ngIf="!editing"
                    class="alert alert-warning border-warning">
                    Make sure you are in the <a class="text-primary" [href]="environment.discordInvite">DBots Discord server</a>, for your bot to be added.
                    This is required for your bot to show on the list.
                </div>

                <h3>Bot Card</h3>
                <p>This is what your bot card will look like to new users.</p>
                <div class="d-flex justify-content-center mb-5">
                    <bot-card class="mt-5"
                        [user]="user"
                        [bot]="bot"></bot-card>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!preview">
        <div class="d-flex justify-content-center">
            <button id="stopPreviewButton" (click)="preview = false"
                color="danger" mat-button>
                <i class="fas fa-times"></i>
            </button>
        </div>

        <bot-preview *ngIf="bot"
            [bot]="bot" [preview]="true" [ownerUser]="userService.user"></bot-preview>
    </div>
</bot-sidebar>
